<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <appSettings>
    <!---Default Credentials -->
   
  <add key="appurl" value="https://web.test.apt.fft.local/Home/" />

   <!--  <add key="appurl" value="https://apt.fftaspire.org/" /> -->
    <!--Paths-->
    <add key="chromeDriverPath" value="C:\drivers" />
    <add key="IEDriverPath" value="C:\IE" />
    <add key="GeckoDriverPath" value="C:\Gecko" />
    <add key="xlsPath" value="Data\Data.xlsx" />
    <add key="reportFolder" value="C:\\Deepa\\Reports\\" />
    <add key="secretId" value="test/automatedtesting" />
    <!--APTLocators-->
    <add key="Username_Xpath" value="//*[@id='Username']" />
    <add key="Username_Id" value="Username" />
    <add key="Password_Xpath" value="//*[@id='Password']" />
    <add key="Password_Id" value="Password" />
    <add key="Homepage_Xpath" value="//span[contains(text(),'User')]" />
    <add key="Dontshow_link" value="Don't show again" />
    <add key="Span_Xpath" value="//span[contains(text(),'Administration')]" />
    <add key="APTHome_Xpath" value="//li[@class='nav-home']//a" />

    <add key="AssessmentTab_Xpath" value="//a[contains(text(),'Assessment tracker')]" />
    <add key="CreateAssessmentTab_Xpath" value="//a[contains(text(),'Create new assessment')]" />
    <add key="EnterAssessmentTab_Xpath" value="//a[contains(text(),'Enter pupil assessment data')]" />
    <add key="ImportAssessment_link" value="Import assessments" />
    <add key="choosetestproviderLabel_Xpath" value="//h2[contains(text(),'Choose a test provider')]" />
    <add key="Choosebutton_Xpath" value="//button[contains(text(),'Choose')]" />
    <add key="Importbutton_Xpath" value="//button[contains(text(),'Start import')]" />
    <add key="ImportassessmentLabel_Xpath" value="//h1[contains(text(),'Import assessments')]" />
    <add key="ImportPanel_Xpath" value="//a[@id='title01']" />
    <add key="Importcount_Xpath" value="/html[1]/body[1]/div[2]/div[1]/div[2]/div[1]/div[1]/div[3]/div[4]/div[1]/a[1]/strong[1]" />
   
    <add key="EnterAssessmentLabel_Xpath" value="//span[contains(text(),'Enter pupil assessments')]" />
    <add key="EnterPupilassessmentLabel_Xpath" value=" //h1[contains(text(),'Enter pupil assessments')]" />

    <add key="EditAssessmentTab_Xpath" value="//a[contains(text(),'Edit existing assessment')]" />
 
    <add key="NCyeardropdown_Xpath" value="//body/div[@id='wrapper']/div[1]/div[2]/div[1]/div[1]/div[1]/div[1]/div[2]/select[2]" />
    <add key="AssessmentCount_Xpath" value="/html[1]/body[1]/div[2]/div[1]/div[2]/div[1]/div[1]/div[1]/div[1]/div[1]/h1[1]/span[1]" />
    <add key="find_Xpath" value="/html[1]/body[1]/div[2]/div[1]/div[2]/div[1]/div[1]/div[3]/div[2]/div[1]/ul[1]/li[1]/div[1]/p[4]" />
    <add key="EditAssessmentLink_Xpath" value="//li[1]//div[1]//p[2]//strong[1]//a[1]" />
    <add key="APTEnterMathsTA_Xpath" value="//tbody/tr[1]/td[2]/div[1]/select[1]"/>
    <add key="APTEnterReadingTA_Xpath" value="//tbody/tr[1]/td[4]/div[1]/select[1]"/>
    <add key="APTEnterWritingTA_Xpath" value="//tbody/tr[1]/td[6]/div[1]/select[1]"/>
    <add key="APTEnterGPSTA_Xpath" value="//tbody/tr[1]/td[8]/div[1]/select[1]"/>
    
    <add key="EnterAssessmentSave_Xpath" value="//button[@class='btn mr-small pl-large pr-large font-weight-bold']" />
   
    <add key="EnterpageEditAssessmentLink_Xpath" value="//li[1]//div[1]//p[2]//span[1]//a[1]" />
    <add key="EnterpagepupilLabel_Xpath" value="//span[contains(text(),'Pupils')]" />
    <add key="DuplicateassessmentLink_Xpath" value="//li[1]//div[1]//p[2]//strong[2]//span[1]" />
    <add key="DuplicateAssessmentTxt_Xpath" value="//input[@placeholder='Name (required)']" />
    <add key="DuplicateAssessmentDesc_Xpath" value="//textarea[@placeholder='Description (optional)']" />
    <add key="IncludePupilAssessmentCheckbox_Xpath" value="//h4[contains(text(),'Include pupil assessments')]" />
    <add key="SaveDuplicateAssessmentButton_Xpath" value="//button[contains(text(),'Save assessment')]" />

    <add key="SearchAssessmentTxt_Xpath" value="//input[@id='assessmentFilter']" />
    <add key="DeleteAssessmentText_Xpath" value="//div[@id='delete-assessment-modal']//input[@class='txt-box marginless']" />
    <add key="CreateAssessmentLabel_Xpath" value="//h1[contains(text(),'Create an assessment')]" />
    <add key="AssessmentNameInput_Xpath" value="//input[@placeholder='Assessment name']" />
    <add key="AssessmentDesc_Xpath" value="//textarea[@placeholder='Description (optional)']" />
    <add key="AssessmentValidationText_Xpath" value="//div[contains(text(),'Assessment name already taken')]" />
    <add key="Checkforupdate_Xpath" value="//button[contains(text(),'Check for updates')]" />
    <add key="updatelabel_Xpath" value="//h2[contains(text(),'Update pupils and classes from your MIS')]" />
    <add key="startupdatebutton_Xpath" value="/html[1]/body[1]/div[2]/div[1]/div[2]/div[1]/div[1]/div[1]/div[1]/div[1]/div[2]/div[1]/div[2]/div[3]/button[1]" />
    <add key="updatedatafoundLabel_Xpath" value="//h1[@id='changesHeading']" />
    <add key="FinishUpdateButton_Xpath" value="/html[1]/body[1]/div[2]/div[1]/div[2]/div[1]/div[1]/div[1]/div[4]/div[3]/div[1]/div[1]/div[1]/button[1]" />
    <add key="UpdatecompleteLabel_Xpath" value="//body/div[@id='wrapper']/div[1]/div[2]/div[1]/div[1]/div[1]/div[4]/h2[1]" />
    <add key="Keystage_Id" value="ks" />
    <add key="Year1_Xpath" value="//label[contains(text(),'Year 1')]" />
    <add key="Year2_Xpath" value="//label[contains(text(),'Year 2')]" />
    <add key="Year3_Xpath" value="//label[contains(text(),'Year 3')]" />
    <add key="Year4_Xpath" value="//label[contains(text(),'Year 4')]" />
    <add key="Year5_Xpath" value="//label[contains(text(),'Year 5')]" />
    <add key="Year6_Xpath" value="//label[contains(text(),'Year 6')]" />
    <add key="chooseTATest_Xpath" value="//label[contains(text(),'This is a teacher assessment')]" />
    <add key="chooseTest_Xpath" value="//label[contains(text(),'This is a test')]" />
    <add key="testprovider_Id" value="testProviderSelect" />
    <add key="teacherAssessment_Id" value="selectedTeacherAssessment" />
    <add key="subTestProvider_Id" value="subTestProviderSelect" />
    <add key="Term_Id" value="selectTerm" />
  
    <add key="SubjectKS1_Xpath" value="//body/div[@id='wrapper']/div[1]/div[2]/div[1]/div[1]/div[4]/div[2]/div[6]/div[2]/div[1]/div[1]/div[2]/div[1]/div[2]/div[1]/label[1]" />
    <add key="SubjectKS2_Xpath" value="//body/div[@id='wrapper']/div[1]/div[2]/div[1]/div[1]/div[4]/div[2]/div[6]/div[2]/div[1]/div[1]/div[2]/div[1]/div[5]/div[1]/label[1]" />
    
    
    <add key="SubKS2TAMaths_Xpath" value="//label[@class='tcl-provider-4-teacher-assessment-test-2']" />
    <add key="SubKS2TAMathsLive_Xpath" value="//label[@class='tcl-provider-5-teacher-assessment-test-2']" />
    
    
    <add key="SubKS2TAReading_Xpath" value="//label[@class='tcl-provider-4-teacher-assessment-test-5']"/>
    <add key="SubKS2TAReadingLive_Xpath" value="//label[@class='tcl-provider-5-teacher-assessment-test-5']"/>
    
    
    <add key="SubKS2TAWriting_Xpath" value="//label[@class='tcl-provider-4-teacher-assessment-test-8']"/>
    <add key="SubKS2TAWritingLive_Xpath" value="//label[@class='tcl-provider-5-teacher-assessment-test-8']"/>
    
    
    <add key="SubKS2TAGPS_Xpath" value="//body/div[@id='wrapper']/div[1]/div[2]/div[1]/div[1]/div[4]/div[2]/div[6]/div[2]/div[1]/div[1]/div[2]/div[1]/div[5]/div[4]/label[1]"/>
    
    <add key="SubKS1TAMaths_Xpath" value="//label[@class='tcl-provider-1-teacher-assessment-test-2']" />
    <add key="SubKS1TAMathsLive_Xpath" value="//label[@class='tcl-provider-2-teacher-assessment-test-2']" />
    
    
    <add key="SubKS1TAReading_Xpath" value="//label[@class='tcl-provider-1-teacher-assessment-test-5']"/>
    <add key="SubKS1TAReadingLive_Xpath" value="//label[@class='tcl-provider-2-teacher-assessment-test-5']"/>
    
        
    <add key="SubKS1TAWriting_Xpath" value="//label[@class='tcl-provider-1-teacher-assessment-test-8']"/>
    <add key="SubKS1TAWritingLive_Xpath" value="//label[@class='tcl-provider-2-teacher-assessment-test-8']"/>
    
    
    <add key="EditAssessmentLabel_Xpath" value="//span[contains(text(),'Edit assessments')]" />
    <add key="AssessmentSavedLabel_Xpath" value="//div[@id='successMessage']" />


    <add key="AssessmentTest_Xpath" value="//label[contains(text(),'This is a test')]" />
    <add key="Testprovider_Xpath" value="//select[@id='testProviderSelect']" />
    <add key="SubjectKS1NFERTest_Xpath" value="//label[contains(text(),'Maths 2 Summer')]" />
    <add key="SubjectKS2NFERTest_Xpath" value="//label[contains(text(),'Maths 6 Summer')]" />
    <add key="EnterTestTA_Xpath" value="//tbody/tr[1]/td[2]/input[1]" />
    <add key="SaveTA_Xpath" value=" //button[contains(text(),'Save')]" />
    <add key="EnterPageYeardropdown_Xpath" value="//select[@id='yearGroupDdl']"/>
    <add key="BacktoListLink_Xpath" value="//a[@class='ib mb-small']"/>

    <add key="SubjectKS1RenaissanceTest_Xpath" value="//label[@for='combinedId-277_2']" />
    <add key="SubjectKS2RenaissanceTest_Xpath" value="//body/div[@id='wrapper']/div[1]/div[2]/div[1]/div[1]/div[4]/div[2]/div[7]/div[2]/div[4]/div[1]/div[1]/div[2]/div[1]/div[6]/div[1]/label[1]" />

    <add key="SubjectKS1RisingStarMathsTest_Xpath" value="//label[contains(text(),'PUMA 2016 2 Autumn')]" />
    <add key="SubjectKS1RisingReadingTest_Xpath" value="//label[contains(text(),'PiRA 2016 2 Autumn')]" />
    
    
    <add key="SubjectKS2RisingStarMathsTest_Xpath" value="//label[contains(text(),'PUMA 2016 6 Autumn')]" />
    <add key="SubjectKS2RisingStarReadingTest_Xpath" value="//label[contains(text(),'PiRA 2016 6 Autumn')]"/>
    <add key="SubjectKS2RisingStarGPSTest_Xpath" value="//label[contains(text(),'GAPS 2016 6 Autumn')]"/>
    
    <!--BucketYears Paths-->
    
      <add key="BucketYearTab_Xpath" value="//a[contains(text(),'Completed years')]" />
    <add key="BucketYearTextBanner_Xpath" value="//p[contains(text(),'Pupil assessments may not be entered/edited.')]" />
    <add key="ViewpupilassessmenyLink_Xpath" value="//li[1]//div[1]//p[2]//span[1]//a[2]" />
    <add key="ViewpupilassessmenyLinkforEnter_Xpath" value="//li[1]//div[1]//p[2]//strong[1]//a[2]" />
    <add key="ViewreportLinkforPupilOnly_Xpath" value="//li[1]//div[1]//p[2]//a[2]" />
    <add key="ExportdataLink_Xpath" value="//body/div[@id='wrapper']/div[1]/div[2]/div[2]/div[1]/div[4]/div[2]/div[1]/ul[1]/li[1]/div[1]/p[2]/a[2]" />
    <add key="reportLink_Xpath" value="//li[1]//div[1]//p[2]//a[3]" />

    <add key="BucketYearsHomepageButton_Xpath" value=" //a[contains(text(),'View completed')]" />
    
    
    <!--Combined Indicators for Single Year Selected-->

    <add key="KS1-RSWritingTA_Xpath" value="//body/div[@id='wrapper']/div[1]/div[2]/div[2]/div[1]/div[4]/div[3]/div[7]/div[2]/div[1]/div[1]/div[1]/div[2]/div[2]/div[1]/div[2]/div[2]/div[5]/div[1]/select[1]"/>
    <add key="KS1-RSGPSTA_Id" value="Grammar, punctuation and spelling-selector"/>
    
    <add key="KS2-RSWritingTA_Xpath" value="//div[6]//div[2]//div[4]//div[1]//select[1]"/>
    <add key="KS2-RSGPSTA_Id" value="Grammar, punctuation and spelling-selector"/>


    <!--Combined Indicators for Multiple Year Selected-->

    <add key="KS1-Multiple-RSWritingTA_Xpath" value="//div[@id='ui-id-2']//div[2]//div[3]//div[1]//select[1]"/>
    <add key="KS1-Multiple-RSGPSTA_Xpath" value="//body/div[@id='wrapper']/div[1]/div[2]/div[1]/div[1]/div[4]/div[2]/div[7]/div[2]/div[1]/div[1]/div[1]/div[2]/div[2]/div[1]/div[1]/div[2]/div[5]/div[2]/select[1]"/>
    
    
    <add key="KS2-Multiple-RSWritingTA_Xpath" value="//body/div[@id='wrapper']/div[1]/div[2]/div[1]/div[1]/div[4]/div[2]/div[7]/div[2]/div[1]/div[1]/div[1]/div[2]/div[2]/div[1]/div[3]/div[3]/div[6]/div[1]/select[1]"/>
    <add key="KS2-Multiple-RSGPSTA_Xpath" value="//body/div[@id='wrapper']/div[1]/div[2]/div[1]/div[1]/div[4]/div[2]/div[7]/div[2]/div[1]/div[1]/div[1]/div[2]/div[2]/div[1]/div[3]/div[1]/div[6]/div[2]/select[1]"/>
    
    
    
    <!--APT Report Checks-->
    
    <add key="APTreportlink_Xpath" value="//a[contains(text(),'View in reports')]" />
    <add key="reportHeader_Xpath" value="//div[@class='fft-dashboard']//h2[1]" />
    <add key="Summarydatatable_Xpath" value="//div[@id='dataTable_wrapper']" />
    <add key="APTyeargrouplink_Xpath" value="//li[@id='subnav-yeargroups']//a[contains(text(),'Year groups')]" />
    <add key="AllYearLabel_Xpath" value="//th[contains(text(),'All Years')]" />
    <add key="APTClassesreportlink_Xpath" value="//li[@id='subnav-classes']//a[contains(text(),'Classes')]" />
    <add key="AllClassLabel_Xpath" value="//th[contains(text(),'All Classes')]" />
    <add key="APTpupilgrouplink_Xpath" value="//li[@id='subnav-pupilgroups']//a[contains(text(),'Pupil groups')]" />
    <add key="AllpupilLabel1_Xpath" value="//thead/tr[3]/th[1]" />
    <add key="AllpupilLabel2_Xpath" value="//thead/tr[3]/th[2]" />
    <add key="MySchoolgrouplink_Xpath" value="//a[normalize-space()='My school groups']" />
    <add key="SchoolGroupLabel_Xpath" value="//th[contains(text(),'Groups')]" />
    <add key="Pupilreportlink_Xpath" value="//li[@id='subnav-pupils']//a[contains(text(),'Pupils')]" />
    <add key="PupilsLabel_Xpath" value="//div[@class='fft-dashboard']//h2[1]" />
    <add key="PupilsSubLabel_Xpath" value="//thead/tr[@id='subheaders']/th[1]/span[1]" />
    <add key="ScatterplotLink_Xpath" value="//li[@id='subnav-scatterplot']//a[contains(text(),'Pupils scatterplot')]" />
    <add key="ScatterplotLabel_Xpath" value="//span[contains(text(),'KS2 pupils scatterplot')]" />
    <add key="scatterplotAllPupilbtn_Xpath" value="//button[contains(text(),'All pupils')]" />
    <add key="scatterplothighlightLabel_Xpath" value="//span[contains(text(),'highlighted by')]" />
    <add key="Pathwaylink_Xpath" value="//a[normalize-space()='Pathway']" />
    <add key="PathwayAllpupil_Xpath" value="//strong[contains(text(),'All pupils')]" />
    <add key="PathwayAllpupilLabel_Xpath" value="//h1[contains(text(),'All pupils')]" />
    <add key="Allpupildropdown_Xpath" value="//a[@class='dropdown-toggle as-h1']" />
    <add key="Pathwayover_Xpath" value="//h3[contains(text(),'View the pathway over')]" />

    <add key="ComparereportLink_Xpath" value="/html/body/div[2]/div[1]/div[2]/div[1]/div[2]/div[1]/div/div[2]/div[1]/a/text()"/>

    <add key="ComparereportLink__Plink" value="Compare with another"/>
    <add key="ComparewithfirstAssessment_Xpath" value="//body/div[@id='wrapper']/div[1]/div[2]/div[1]/div[1]/div[6]/div[1]/div[1]/div[4]/ul[2]/li[1]/a[1]"/>
    <add key="ComparePupilsReport_Xpath" value="//body/div[@id='wrapper']/div[1]/div[2]/div[1]/div[1]/div[1]/div[6]/div[1]/div[1]/div[4]/ul[2]/li[1]/a[1]"/>
    <add key="StopcomparingLabel_Xpath" value="//p[contains(text(),'Switching to Scatterplot will stop comparing asses')]"/>
    <add key="StopComaringButton_Xpath" value="//body/div[@id='wrapper']/div[1]/div[2]/div[1]/div[1]/nav[1]/div[2]/div[1]/div[1]/div[3]/a[1]"/>
    <add key="ComparereportLabel_Xpath" value="//span[contains(text(),'— comparing assessments')]"/>
    <add key="DeleteCompare_Xpath" value="//thead/tr[1]/th[4]/h3[1]/a[1]/span[1]"/>

    <add key="EnterassessmentLink_Xpath" value="//body/div[@id='wrapper']/div[1]/div[2]/div[1]/div[2]/div[1]/div[1]/div[2]/div[2]/a[1]"/>
    <add key="KSdropdown_Xpath" value="//button[@id='keyStageButton']"/>
    <add key="Filters_Xpath" value="//button[contains(text(),'Filters')]"/>
    <!--APT Report Permission Checks-->
    <add key="firstreportmenu_Xpath" value="//header/nav[@id='global-nav']/ul[@id='nav-menu']/li[1]/ul[1]/li[8]/ul[1]/li[1]/div[1]/div[1]/div[1]/ul[1]/li[1]/ul[1]/li[1]/a[1]" />
   
    <add key="Summaryreportlink_Xpath" value=" //a[contains(text(),'Summary')]" />
    <add key="Noaccesslink_Xpath" value="//h1[contains(text(),'No access')]" />
    <add key="scatterplotsection_Xpath" value="//div[@id='koex']" />
    
    <!-- MAT Home Page-->

    <add key="MATSchoolselect_Xpath" value="//span[contains(text(),'Hardwick Primary School')]"/>
    <add key="MATSchoolselectStepAcademy_Xpath" value="//span[contains(text(),'Arboretum Primary School')]"/>
    <add key="MATHomepage_Xpath" value="//h2[contains(text(),'Action to take')]"/>
    <add key="APTHomePage_Xpath" value="//h2[contains(text(),'Assessment Tracker')]"/>
    <add key="pupiltrackingMenu_Xpath" value="//span[contains(text(),'pupil tracking')]"/>
    <add key="CTnotavailableLabel_Xpath" value="//p[contains(text(),'Curriculum Tracker is currently not available for ')]"/>
    <add key="CompletedYearMenu_Xpath" value="//header/nav[@id='global-nav']/ul[@id='nav-menu']/li[1]/ul[1]/li[7]/ul[1]/li[1]/div[1]/div[1]/div[1]/ul[1]/li[1]/ul[2]/li[2]/a[1]"/>
    <add key="MATCompletedYearMenu_Xpath" value="//header/nav[@id='global-nav']/ul[@id='nav-menu']/li[1]/ul[1]/li[8]/ul[1]/li[1]/div[1]/div[1]/div[1]/ul[1]/li[1]/ul[2]/li[2]/a[1]"/>
    <add key="ScatterplotReportLink_Xpath" value="//a[contains(text(),'Pupils scatterplot')]"/>

    <add key="NoSchoolLabel_Xpath" value="//h3[contains(text(),'No schools to display')]"/>
    
    <!--CT Page-->
    <add key="CurriculumTab_Xpath" value="//a[contains(text(),'Curriculum tracker')]" />
    <add key="CreateCTtab_Xpath" value="//a[contains(text(),'New curriculum assessment')]" />
    <add key="EditCTtab_Xpath" value="//a[contains(text(),'Enter curriculum assessments')]" />
    <add key="SearchCtTxt_Xpath" value="//body/div[@id='wrapper']/app-root[1]/div[1]/div[3]/div[1]/app-curriculum-list-page[1]/div[1]/div[1]/div[1]/div[2]/app-search[1]/input[1]" />
    <add key="CTSearchbtn_Xpath" value="//button[contains(text(),'Search')]"/>
    <add key="EditCTLink_Xpath" value="//span[1]//a[1]" />
    <add key="DeleteCTButton_Xpath" value="//button[contains(text(),'Delete curriculum')]" />
    <add key="DeleteCTConfirmButton_Xpath" value="//body/ngb-modal-window[1]/div[1]/div[1]/div[1]/div[3]/button[1]" />
    <add key="CreateCTLabel_Xpath" value="//h1[contains(text(),'Create curriculum')]" />
    <add key="EditCTLabel_Xpath" value="//h1[contains(text(),'Edit curriculum')]" />
    <add key="ViewCTTab_Xpath" value="//a[contains(text(),'View curriculum and assessments')]" />
    <add key="ViewCTLabel_Xpath" value="//h1[contains(text(),'View curriculum assessments')]" />
    <add key="ViewandenterCTLink_Xpath" value="//body//div[@id='wrapper']//div[@class='container']//div//div//div[1]//app-curriculum-thumbnail[1]//ul[1]//li[1]//div[1]//p[2]//strong[1]//a[1]" />
    <add key="CTTAvalue_Xpath" value="//thead/tr[2]/th[2]/pupil-overall-grade[1]/mat-form-field[1]/div[1]/div[1]/div[1]/mat-select[1]/div[1]/div[1]" />

    <add key="CTNoeditLabel_Xpath" value="//h4[contains(text(),&quot;Note: You can't edit pupil assessments&quot;)]" />
    
    <add key="CTshare_Xpath" value="//body/div[@id='wrapper']/app-root[1]/div[1]/div[3]/div[1]/ng-component[1]/div[1]/form[1]/div[1]/div[2]/button[1]" />
    <add key="CTAllPupilLabel_Xpath" value="//th[contains(text(),'All pupils')]" />
    <add key="CTenterTA_Xpath" value="//thead/tr[2]/th[2]/app-pupil-overall[1]/div[1]/button[1]" />
    <add key="TA_Xpath" value="//thead/tr[2]/th[2]/app-pupil-overall[1]/div[1]/div[1]/button[2]"/>
    <add key="CTOverwriteTxt_Xpath" value="//body/ngb-modal-window[1]/div[1]/div[1]/div[2]/p[4]/input[1]" />
    <add key="openAssessmentLink_Xpath" value="//body/ngb-modal-window[1]/div[1]/div[1]/div[2]/p[1]/a[1]" />
    <add key="CTNumberLabel_Xpath" value="//h3[contains(text(),'Number place and value')]" />
    <add key="UnsavedChangesLabel_Xpath" value="//span[@class='ib mr-med col-midgrey ng-star-inserted']" />
    
    <add key="CTPupilcount_Xpath" value="//body/app-assessment[1]/div[2]/div[1]/div[1]/div[1]/ng-component[1]/div[1]/div[1]/div[2]/div[2]/assessment-thumbnail[1]/ul[1]/li[1]/dl[1]/dd[1]/div[1]/span[1]" />
    <add key="CTBacktoListlink_Xpath" value="//body/app-assessment[1]/div[2]/div[1]/div[1]/div[1]/ng-component[1]/div[1]/div[1]/div[2]/div[1]/a[1]" />

    <add key="CTNoaccessPupilDataLabel_Xpath" value="//h4[contains(text(),&quot;You don't have access to pupil data&quot;)]" />
    <add key="NoaccessToAPTLabel_Xpath" value="//h1[contains(text(),'No access')]" />

    <add key="CTSubjectgroupDropdown_Xpath" value="//button[contains(text(),'Subjects')]" />
    <add key="CTReading_Xpath" value="//span[contains(text(),'Reading')]" />
    <add key="CTWriting_Xpath" value=" //span[contains(text(),'Writing')]" />
    <add key="CTMaths_Xpath" value=" //span[contains(text(),'Mathematics')]" />
    <add key="CTCreateTab_Xpath" value="//a[@class='nav-link active']" />
    <add key="CTYeargroupLabel_Xpath" value="//h3[contains(text(),'Year groups')]" />
    <add key="CTYeargroupDropdown_Xpath" value="//button[contains(text(),'National Curriculum years')]" />
    <add key="CTYeargroupR_Xpath" value="//span[@class='mat-option-text'][contains(text(),'R')]" />
    <add key="CTYeargroup1_Xpath" value="//span[@class='mat-option-text'][contains(text(),'1')]" />
    <add key="CTYeargroup2_Xpath" value="//span[@class='mat-option-text'][contains(text(),'2')]" />

    <add key="CTTemplate_Xpath" value="//select[@id='templateDropDown']" />

    <add key="CTAssessmentName_Id" value="name" />
    <add key="CTAssessmentDesc_id" value="assessmentDescription" />
    <add key="CTValidationText_Xpath" value="//em[contains(text(),'Name already taken')]" />
    <add key="CTDescriptionValidation_Xpath" value="/html[1]/body[1]/div[1]/app-root[1]/div[1]/div[3]/div[1]/ng-component[1]/div[2]/form[1]/div[1]/div[2]/div[2]/em[1]" />
   
    <!--Schoolgroup-->


    <add key="MySchoolgroupLabel_Xpath" value="//h1[1]" />
    <add key="CreateSchoolgroupTab_Xpath" value="//ul[@class='subnav clearfix']//a[contains(text(),'Create a school group')]" />

    <add key="CreateSchoolgroupLabel_Xpath" value="//h1[contains(text(),'Create a school group')]" />
    <add key="SchoolgroupnameInbox_Xpath" value="//input[@placeholder='School group name']" />
    <add key="SchoolgroupDescription_Xpath" value="//textarea[@placeholder='Description (optional)']" />
    <add key="GroupExistLabel_Xpath" value="//div[contains(text(),'Group name already taken')]" />
    <add key="AddsubgroupInput_Xpath" value="//input[@placeholder='Add a sub-group']" />
    <add key="SchoolgroupSearchInput_Xpath" value="//input[@id='groupFilter']" />
    <add key="AddpupilsLink_Xpath" value="//a[@id='add-pupils-0']"/>
    <add key="SchoolgroupEditLink_Xpath" value="//a[@id='edit-group-0']" />
    <add key="SchoolgroupDeleteButton_Xpath" value="//button[@class='btn btn-danger btn-small mt-smaller']" />
    <add key="SchoolgroupConfirmDelete_Xpath" value="//button[@class='btn btn-danger'][contains(text(),'Delete school group')]" />
    <add key="AddpupilToSchoolgroupLink_Xpath" value="//a[contains(text(),'Add pupils to my school groups')]" />
    <add key="AddpupilToSchoolgroupTab_Xpath" value="//a[contains(text(),'Add pupils to school groups')]" />
    <add key="AddpupilsToMygroupLabel_Xpath" value="//h1[contains(text(),'Add pupils to my school groups')]"/>
    <add key="AddpupilCheckbox_Xpath" value="//tbody/tr[1]/td[2]/div[1]/input[1]"/>
   
    <!--Buttons-->
    <add key="Login_Xpath" value="//*[@id='login-btn']" />
    <add key="SetupButton_Xpath" value="//a[@class='btn mb-small arrow-after']" />
    <add key="Login_Id" value="login-btn" />
    <add key="CreateAssessmentButton_Xpath" value="//button[contains(text(),'Create assessment')]" />
    <add key="DeleteAssessmentButton_Xpath" value="//button[@class='btn btn-danger btn-small mb-small']" />
    <add key="DeleteAssessmentConfirm_Xpath" value="//button[@class='btn btn-danger'][contains(text(),'Delete assessment')]" />
    <add key="CreateCTButton_Xpath" value="//button[contains(text(),'Save')]" />
    <add key="EnterCTSave_Xpath" value="//button[contains(text(),'Save')]" />
    <add key="CopyCTButton_Xpath" value="//button[contains(text(),'Copy teacher assessments')]" />
    <add key="OverwriteCopyBtn_Xpath" value="//body/ngb-modal-window[1]/div[1]/div[1]/div[3]/button[1]" />
    <add key="ChooseAssessmentBtn_Xpath" value="//button[contains(text(),'Choose this assessment')]" />
    <add key="CreateGroupButton_Xpath" value="//button[contains(text(),'Create school group')]" />
    <add key="AddSubgroupButton_Xpath" value="//button[@class='btn btn-tertiary']" />
    <add key="pupilgroupSaveButton_Xpath" value="//button[contains(text(),'Save')]"/>
    <add key="CloseButton_Xpath" value="//button[contains(text(),'Close')]" />

    <!--Menu-->
    <add key="PupiltrackingMenu_Xpath" value="//span[contains(text(),'pupil tracking')]" />
    <add key="PupiltrackingCTMenu_Xpath" value="//a[contains(text(),'Curriculum assessments')]" />

  </appSettings>



  <runtime>
  
  
          <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
  
                  <dependentAssembly>
  
  
                          <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
  
  
                          <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
  
  
                  </dependentAssembly>
  
  
                  <dependentAssembly>
  
  
                          <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
  
  
                          <bindingRedirect oldVersion="0.0.0.0-1.3.2.0" newVersion="1.3.2.0" />
  
  
                  </dependentAssembly>
  
  
                  <dependentAssembly>
  
  
                          <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
  
                          <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
  
  
                  </dependentAssembly>
  
  
                  <dependentAssembly>
  
  
                          <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
  
                          <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
  
  
                  </dependentAssembly>
  
  
                  <dependentAssembly>
  
  
                          <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
  
                          <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
  
  
                  </dependentAssembly>
  
  
                  <dependentAssembly>
  
  
                          <assemblyIdentity name="System.Security.Cryptography.Cng" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
  
                          <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
  
  
                  </dependentAssembly>
  
  
                  <dependentAssembly>
  
  
                          <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
  
                          <bindingRedirect oldVersion="0.0.0.0-1.4.3.0" newVersion="1.4.3.0" />
  
  
                  </dependentAssembly>
  
  
                  <dependentAssembly>
  
  
                          <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
  
                          <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0" />
  
  
                  </dependentAssembly>
  
  
          </assemblyBinding>
  
  
  </runtime>
</configuration>
